.header {
  display: flex;
  color: whitesmoke;
  background-color: navy;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container > * {
  padding: 10px;
}

.logo {
  height: 50px;
  width: 50px;
}
