.product-container {
  display: flex;
  /* justify-content: flex-start; */
  padding: 20px;
}

.product {
  padding: 45px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  justify-content: center;
  text-align: center;
  box-shadow: 5px 5px 5px #ddd;
}

.product-addToCart {
  box-shadow: 5px 5px 5px #ddd;
  background-color: navy;
  border: none;
  padding: 10px;
  border-radius: 3px;
  color: white;
}
